body {
    margin: 0;
}

.footer_nav {
    height: 10px;
    margin-top: 90%;
    background-color: #5F2020;
}

.middle_footer_nav ul {
    height: 30px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 600px;
    padding-top: 90px;
    list-style: none;
    background-color: #494949;
}

.middle_footer_nav ul li {
    display: inline-block;
    text-align: center;
}

.middle_footer_nav ul li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    color: white;
}

.main_footer_nav {
    height: 200px;
    background-color: #494949;
}

.main_footer_nav .logo1 {
    margin-left: 500px;
    float: left;
    border: 5px solid red;
    margin-top: 40px;
}

.main_footer_nav .logo2 {
    margin-left: 40px;
    float: left;
    margin-top: 67px;
}

.main_footer_nav .abj_text {
    float: left;
    color: white;
    text-align: center;
    margin-left: 10px;
    margin-top: 70px;
    background-color: #5F2020;
}

.main_footer_nav .copy_right {
    float: left;
    color: white;
    text-align: center;
    margin-top: 180px;
    margin-left: -300px;
}